* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: var(--font) */
  }
  
  :root {
    --primary-color: #d1481b;
    --headline: #061800; 
    --paragraph: #463333;
    --green-light: #DCE9E2;
    --green-light-02: #d6e3e3;
    --white: #EDEDED;
    --beige: #FFFAF1; 
    --green-hover: #65e7d1;
    font-size: 62.5%;
    --font: 62.5%;
    --nav-height: 7.2rem;
  }

#home {
    padding-block: 0;
    padding-top: calc(4.1rem + var(--nav-height));
    justify-content: center;
    align-items: center;
}
      
#home::before {
    content: "";
    width: 100%;
    height: calc(76% + var(--nav-height));
    background-color: var(--green-light-02);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
    
#home .button {
    margin-inline: auto;
}
    
#home p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);
    
    margin-bottom: 3.2rem;
}
    
    
#home img {
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}
    
    
#home .stat h3 {
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 0.4rem;
}
    
#home .stat p {
    margin: 0;
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 150%;  
}
   
nav#navigation .container * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    font-weight: initial;
    filter: initial;
  }

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    color: var(--primary-color);
    opacity: 0.7;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;
    border: 1px solid var(--primary-color);
    border-radius: 4rem;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

nav#navigation .menu a.button:hover {
    background-color: var(--primary-color);
    border: none;
    color: #ffffff;
}

nav#navigation.scroll .menu ul li a {
    color: var(--green-light-02);
    opacity: 0.9;
}

nav#navigation.scroll .menu a.button {
    border-color: #ffffff;
    color: #ffffff;
}

nav#navigation .menu li a {
    transition: opacity .4s;
}

nav#navigation .menu li a.active,
nav#navigation .menu li a:hover {
    opacity: 1;
    font-weight: 700;
}

nav#navigation .menu li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    position: relative;
    bottom: -2rem;
    left: -0.5rem;
    display: block;
    transition: width 0.2s;
}

nav#navigation.scroll .menu li a::after {
    background-color: #ffffff;
}

nav#navigation .menu li a.active::after,
nav#navigation .menu li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
}

nav#navigation.scroll .menu li a.active,
nav#navigation.scroll .menu li a:hover {
    opacity: 1;
}

nav#navigation.scroll .menu a.button.active,
nav#navigation.scroll .menu a.button:hover {
    background-color: var(--primary-color);
    filter: brightness(1.3);
    border: none;
  }


.flex-container {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1300px;
    margin: 20px auto;
    
}

.item {
    max-width: 300px;
    height: 250px;
    flex: 1 1 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {max-width:100%;}
}

img {max-width:100%;}
img {max-height: 100%;}

.logo {
    display: flex;
    padding-bottom: 130px;
    padding-right: 50px;
    padding-left: 0px;
    height: 300px;
    width: 300px;
}
.navbar {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 10px;
}
.navItens {
    cursor: pointer;
    text-decoration: none;
    color: cyan;
    font-size: 20px;
    text-shadow: 2px 2px 5px #000000;
}
.item {
    max-width: 300px;
    height: 250px;
}
footer {
    width: 100%;
    height: 45px;
    background-color: white;
}
